#root {
  max-width: 1280px;
  margin: 0;
  font-family: 'Inter',sans-serif;
}
.App,main{
  display: flex;
  flex-direction: column;
  gap: 3em;
  height: 100%;
  padding: 1em 0;
}
main{
  display: flex;
  place-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
}
.mainlinks{
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 70%;
  gap: 1em;
}
.links{
  background-color:#EAECF0;
text-decoration: none;
width: 100%;
text-align: center;
height: 2em;
padding: .5em 0;
color: black;
font-size: smaller;
border-radius: .3em;
}
.links:hover  {
  background: #D0D5DD;
}
.share button img:hover{
  filter: contrast(-876);
}
.logos{
  display: flex;
  gap: 1em;
}
footer{
  display: grid;
  width: 75%;
  margin: auto;
  grid-template-columns: repeat(3,1fr);
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.214);
}
footer :nth-child(3){
  display: flex;
  justify-self: flex-end;
}
footer span{
  color: #667085;
}
#profile_img{
  width: 35%;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: .5em;
}
#profile_img:focus, #profile_img:hover{
opacity: .8;
  cursor: pointer;
  border: 1px solid;
}
.profile{
  width: 80%;
  display: flex;
  justify-content: center;
}
.profile-info{
  display: flex;
place-items: center;
width: 50%;
flex-direction: column;
gap: .5em;
}
h1{
  margin: 0;
  font-size: 2.2rem;
}
@media(max-width:990px){
footer{
  flex-direction: column;
  display: flex;
  gap: 1em;
width: 90%;
}
.profile-info{
  width: 100%;
}
footer img{
  width: 40%;
}
.mainlinks{
  width: 90%;
}
#profile_img{
  width: 50%;
}

}