#root {
  margin: 0;

}
.App,main{
  display: flex;
  flex-direction: column;
  gap: 3em;
  height: 100%;
  padding: 1em 0;
}
main{
  display: flex;
  place-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1.5em;
}
.mainlinks{
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 70%;
  gap: 1em;
}
.links{
  background-color:#EAECF0;
text-decoration: none;
width: 100%;
text-align: center;
height: 2em;
padding: .5em 0;
color: black;
font-size: smaller;
border-radius: .3em;
}
.links:hover  {
  background: #D0D5DD;
}
.share button img:hover{
  filter: contrast(-876);
}
.logos{
  display: flex;
  gap: 1em;
}
footer{
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(3,1fr);
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.214);
}
footer :nth-child(3){
  display: flex;
  justify-self: flex-end;
}
footer span{
  color: #667085;
}
#profile_img{
  width: 35%;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: .5em;
}
#profile_img:focus, #profile_img:hover{
opacity: .8;
  cursor: pointer;
  border: 1px solid;
}
.profile{
  width: 80%;
  display: flex;
  justify-content: center;
}
.profile-info{
  display: flex;
place-items: center;
width: 50%;
flex-direction: column;
gap: .5em;
}
h1{
  margin: 0;
  font-size: 2.2rem;
}
.form-names{
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
 .form-items{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subh2{
  font-weight: lighter;
  font-size: 1.2rem;
}
.contact-forms{
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  width: 50%;
  gap: 1em;
padding: 70px 0 30px 0;
}
.input-wide{
  width: 100%;
  border-radius: .3em;
  padding: .6em .5em;
  border:1px solid rgba(0, 0, 0, 0.453);
  font-family: inherit;
  outline: none;
}
.input-wide:focus{
  outline: 2px solid #84CAFF;
  transition: ease-in-out ;
  border: 1.2px solid #84CAFF;
}
.t-area{
  height: 70px;
}
.send-msg{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.send-msg button{
  width: 100%;
  color: white;
  background-color: #1570EF;
  text-align: center;
  padding: .3em .5em;
  border-radius: .3em;
}
@media(max-width:990px){
footer{
  flex-direction: column;
  display: flex;
  gap: 1em;
width: 90%;
}
.subh1{
  font-size: 1.8rem;
}
.profile-info{
  width: 100%;
}
footer img{
  width: 40%;
}
.mainlinks{
  width: 90%;
}
#profile_img{
  width: 50%;
}

.contact-forms{
  width: 90%;
  padding-top: 20px;
}
.form-names{
  flex-direction: column;
  gap: 1em;
}
.input-wide,.send-msg button{
  width: unset;
}
}